#light .primary-color {
    background: #F2E9E4;

}
#dark .primary-color {
    background: #281A10;

}
#dark #example{
    background-color: #281A10;
}
#light{
    background-color: #fff;
    transition: 300ms all;
    color: #222;
}
#dark{
    background-color: #222;
    transition: 300ms all;
    color: #fff;
    
}

.tutturulmus-konum {

    top: 40px;
    right: 15px;
    background: #F2E9E4;
    left: 595px;
    top: 2197px;
    width: 412px;
    height: 578px;
    flex-shrink: 0;

}

html {
    font-family: Poppins;
}


#light .box {
    z-index: 0;
    position: absolute;
    margin-left: 15rem;
    background-color: white;
    width: 45rem;
    height: 30rem;
    flex-shrink: 0;
    top: 130rem;
    align-items: center;

}
#dark .box{
    z-index: 0;
    position: absolute;
    margin-left: 15rem;
    background-color:black;
    width: 45rem;
    height: 30rem;
    flex-shrink: 0;
    top: 130rem;
    align-items: center;
}

#light .box2 {
    z-index: 0;
    position: absolute;
    margin-left: 65rem;
    background-color: white;
    width: 35rem;
    height: 52rem;
    flex-shrink: 0;
    left: 0px;
    top: 130rem;
    align-items: center;

}
#dark .box2 {
    z-index: 0;
    position: absolute;
    margin-left: 65rem;
    background-color: #d3d3d3;
    width: 35rem;
    height: 52rem;
    flex-shrink: 0;
    left: 0px;
    top: 130rem;
    align-items: center;

}
.position-relative {
    position: relative;
  }
  .position-relative img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  
  #dark #contact-box{
    border-color: gray;
    background-color: black;
    color: white;
  }
  #light .head{
    color: black;
  }
  #dark .head{
    color: white;
  }
  .image{
    z-index: 0;
  }
  .info-wrap .dbox {
    width: 100%;
    
    margin-bottom: 25px; }
    .info-wrap .dbox:last-child {
      margin-bottom: 0; }
    .info-wrap .dbox p {
      margin-bottom: 0; }
      .info-wrap .dbox p span {
        font-weight: 600;
         }
      
    .info-wrap .dbox .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.1); }
      .info-wrap .dbox .icon span {
        font-size: 20px;
       }
    .info-wrap .dbox .text {
      width: calc(100% - 50px); }
    